{% extends 'base.html.twig' %}

{% block content %}

<main class="home">
    <section>
        <div class="author-speech"> 
            <p>
                Mamie, c'est dans tes vieux pots qu'on a fait nos meilleures recettes et vécus nos meilleurs moments!
            </p>
        </div>
    </section>
    <div class="divider"></div>
    <section>
        <div class="recipe-wheel"> 
            <div>
                <i class="bi bi-patch-question-fill"></i>
                <h3>Recette roulette</h3>
            </div>  
            <a href="">{{randomRecipe.name}}</a>
        </div>
    </section>
    <div class="divider"></div>
    <section>
        <div class="recipe-newest">
            <div>
                <i class="bi bi-cloud-plus-fill"></i>
                <h3>Dernières recettes</h3>
            </div>
            <ul>
            {% for recipe in lastRecipes %}
                <li><a href="">{{recipe.name}}</a></li>
            {% endfor %}
            </ul>
        </div>
    </section>
    <section>
        <div class="recipe-best">
            <div>
                <i class="bi bi-stars"></i>
                <h3>Meilleures recettes</h3>
            </div>
            <ul>
                <li>Pates</li>
                <li>Saumon</li>
                <li>Chocolat</li>
                <li>Frites</li>
                <li>Galette des rois</li>
            </ul>
        </div>
    </section>
</main>
{% endblock %}
